{% extends 'base.html.twig' %}

{% block title %}ProductToSell{% endblock %}

{% block body %}
    <h1>ProductToSell</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product_to_sell.id }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product_to_sell.price }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ product_to_sell.user }}</td>
            </tr>
            <tr>
                <th>Product</th>
                <td>{{ product_to_sell.product }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('product_to_sell_index') }}">back to list</a>

    <a href="{{ path('product_to_sell_edit', {'id': product_to_sell.id}) }}">edit</a>

    {{ include('product_to_sell/_delete_form.html.twig') }}
{% endblock %}
